:root{
    --primary-color: #5b21b6;
    --primary-500: #8b5cf6;
    --primary-400: #a78bfa;
    --primary-300: #c4b5fd;
    --primary-200: #ddd6fe;
    --primary-100: #ede9fe;
    --primary-50: #f5f3ff;
    --green-300: #6ee7b7;
    --green-400: #10b981;
    --green-600: #059669;
    --red-500: #ef4444;
    --red-700: #b91c1c;
    --red-200: #fecaca;
    --secondary-900: #0f172a;
    --secondary-800: #1e293b;
    --secondary-700: #334155;
    --secondary-500: #64748b;
    --secondary-400: #94a3b8;
    --white: #fff;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--secondary-900);  
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
  }

  .app{
    padding: 0rem;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .text-center{
    text-align: center;
  }
  .container{
    padding: 1rem;
    margin: 1rem auto;
    width: 60%;
  }

  .p-2{
    padding: 2rem;
  }

  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .no-wrap{
    flex-wrap: nowrap;
  }

  .col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .center{
    align-items: center;
    justify-content: center;
  }

  input{
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid var(--secondary-400);
    width: 100%;
    border-radius: 0.5rem;
    font-size: medium;
  }

  .label{
    margin-top: 1rem;
    margin-bottom: 1.5rem ;
  }

  form{
    padding: 2rem;
    border: 1px solid var(--secondary-400);
    border-radius: 0.5rem;
  }

  .btn-primary-full{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-500);
    width: 100%;
    padding: 1rem;
    border-radius: 0.6rem;
    color: var(--white);
    font-size: medium;
  }

  .btn-primary-full:hover{
    cursor: pointer;
    background-color: var(--primary-500);
    border: 1px solid var(--primary-500); 
  }

  .btn-primary{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-400);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--white);
    font-size: medium;
  }

  .btn-primary-full:disabled, .btn-primary-full[disabled]{
  border: 1px solid #999999;
  background-color: var(--primary-200);
  color: #666666;
}

  .error-msg{
    /* padding: 1rem; */
    text-align: center;
    color: var(--red-500) ;
  }